body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.container-fluid > .row {
  min-height: 100vh;
}

.align-center {
  display: flex;
  align-items: center;
}

/* Badge */
.badge {
  padding: 5px 8px;
  font-size: 0.8em;
}

.badge > svg {
  height: 11px;
  margin-right: 5px;
}

#logo {
  width: 60px;
}

/* Download */

.fa-download {
  margin-right: 6px;
  margin-left: 1px;
}

#download-pro-card {
  background-color: #ffd700;
}

#description {
  font-size: 1.1em;
  font-weight: 500;
}

#footer {
  font-size: 0.9em;
  color: gray;
}

#footer a {
  color: gray;
  text-decoration: underline;
}

#screenshot-carousel-wrapper {
  background-color: #ffd700;
  padding: 8px;
  padding-top: 18px;
}

.carousel-item img {
  height: 350px;
}

.carousel-item .title {
  color: #5a3200;
  margin-top: 20px;
}

.carousel-control-prev, .carousel-control-next {
  width: 4%;
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 500px;
  }
}
