body {
  color: #5a3200;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #ffd700;
}

.card {
  margin-top: 7vh;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0px !important;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Navbar */
.info-header {
  margin-top: 4vh;
}

.info-header > .col > a {
  color: #5a3200;
  font-size: 14px;
}

.info-header > .col > a:hover {
  color: #211200;
  text-decoration: none;
}

/* Modal */
.modal {
  color: black;
}

.modal-close-button {
  font-size: 15px;
  margin-bottom: 3px;
}

.card-header, .card .list-group-item {
  padding: 8px;
}

.fa-download {
  margin-right: 6px;
  font-size: 13.5px;
}

#download-pro-card {
  background-color: #ffd700;
}

#download-pro-card > .card-header {
  color: #5a3200;
}

/* Logo */
#logo-img {
  width: 60px;
  display: block;
  margin-top: 9vh;
}

#logo {
  font-size: 26px;
  font-weight: 900;
}

/* Badge */

.badges {
  font-size: 1.2em;
}

.badge > i {
  margin-right: 5px;
}

footer {
  font-size: 0.9em;
  margin-top: 7vh;
  margin-bottom: 7vh;
}
